header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: aqua
}

img {
    height: 100px;
    width: 100px;
}

h1{
    color: darkblue;
    font-size: x-large;
}